/* Empty. Add your own CSS if you like */
/*md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar{
  background:red;
  !*width:5px;
  !*height:0px;*!
}
!**/

all-tabs {font-size:12px;
height: 2px;
  width: 2px;
}
/*.demo-tab {
  color:white;
}*/

[scroll] {
  position:fixed;
}

.intro {
  /*left: auto;
  top: auto;*/
  width: auto;
  height: auto;
}

.demo {
 /* position: relative;*/
  width: auto;
  height: auto;
  /*background-color: #cccccc;*/
  /*margin-top: 40px;
  margin-left: 0px;*/
}
/*
.demo #content {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  font-weight: 600;
  border: 1px solid #999999;
  border-top: none;
}
*/

.btn1 {
  color : rgb(252, 255, 242);
  background-color: #595cff;
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 80px;
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
  /*text-transform: uppercase;*/
  text-decoration: #15b223;
  width: 70%;
  height: 40%;
}

.special_class{
  background: ghostwhite;
    height: 30px;
    text-align: center;
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
}

/** for pages that don't load angular but have angular templates in them. **/
